h1 {
    background: red;
}

.paragraph-1 {
    background: blue;
    font-size: 32pt;
    color: green
}

.paragraph-2 {
    border: 10px solid sandybrown;
    font-size: 24pt;
    border-radius: 10px;
    margin-bottom: 60px;
    padding-left: 55px;
}

.paragraph-3 {
    font-weight: bold;
    font-size: 22px;
    color: sandybrown;
    font-family: Courier New;
}

.paragraph-4 {
    font-size: 24px;
    text-shadow: green 2px 2px 2px;
    font-style: oblique;
    text-align: center
}